.main-container {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* margin: 0 60px; */
}

.element {
  margin-right: 10px;
  font-size: 2em;
  padding: 10px 0;
}

@media screen and (min-width: 90ch) {
  .main-container {
    margin: 0 60px;
  }

}
